<h2 class="h2">популярные категории</h2>

<ul class="popular-category">
    <li class="popular-category__item">
        <a href="/" class="popular-category__link">
            <div class="popular-category__img">
                <img src="../../assets/img/popular-category/popular-category-1.png" alt="">
            </div>
            <div class="popular-category__label">Двери из масива</div>
        </a>
    </li>
    <li class="popular-category__item">
        <a href="/" class="popular-category__link">
            <div class="popular-category__img">
                <img src="../../assets/img/popular-category/popular-category-2.png" alt="">
            </div>
            <div class="popular-category__label">Шпонированые двери</div>
        </a>
    </li>
    <li class="popular-category__item">
        <a href="/" class="popular-category__link">
            <div class="popular-category__img">
                <img src="../../assets/img/popular-category/popular-category-3.png" alt="">
            </div>
            <div class="popular-category__label">Двери экошпон</div>
        </a>
    </li>
    <li class="popular-category__item">
        <a href="/" class="popular-category__link">
            <div class="popular-category__img">
                <img src="../../assets/img/popular-category/popular-category-4.png" alt="">
            </div>
            <div class="popular-category__label">Крашенные двери 2 строчка</div>
        </a>
    </li>
    <li class="popular-category__item">
        <a href="/" class="popular-category__link">
            <div class="popular-category__img">
                <img src="../../assets/img/popular-category/popular-category-5.png" alt="">
            </div>
            <div class="popular-category__label">Двери эмаль</div>
        </a>
    </li>
    <li class="popular-category__item">
        <a href="/" class="popular-category__link">
            <div class="popular-category__img">
                <img src="../../assets/img/popular-category/popular-category-6.png" alt="">
            </div>
            <div class="popular-category__label">Стеклянные двери</div>
        </a>
    </li>
    <li class="popular-category__item">
        <a href="/" class="popular-category__link">
            <div class="popular-category__img">
                <img src="../../assets/img/popular-category/popular-category-7.png" alt="">
            </div>
            <div class="popular-category__label">Двери ПВХ</div>
        </a>
    </li>
    <li class="popular-category__item">
        <a href="/" class="popular-category__link">
            <div class="popular-category__img">
                <img src="../../assets/img/popular-category/popular-category-8.png" alt="">
            </div>
            <div class="popular-category__label">Ламинированые двери</div>
        </a>
    </li>
    <li class="popular-category__item">
        <a href="/" class="popular-category__link">
            <div class="popular-category__img">
                <img src="../../assets/img/popular-category/popular-category-9.png" alt="">
            </div>
            <div class="popular-category__label">Белые двери</div>
        </a>
    </li>
    <li class="popular-category__item">
        <a href="/" class="popular-category__link">
            <div class="popular-category__img">
                <img src="../../assets/img/popular-category/popular-category-10.png" alt="">
            </div>
            <div class="popular-category__label">Двери для ванной и туалета</div>
        </a>
    </li>
    <li class="popular-category__item">
        <a href="/" class="popular-category__link">
            <div class="popular-category__img">
                <img src="../../assets/img/popular-category/popular-category-11.png" alt="">
            </div>
            <div class="popular-category__label">Двустворчатые двери</div>
        </a>
    </li>
    <li class="popular-category__item">
        <a href="/" class="popular-category__link">
            <div class="popular-category__img">
                <img src="../../assets/img/popular-category/popular-category-12.png" alt="">
            </div>
            <div class="popular-category__label">Раздвижные двери</div>
        </a>
    </li>
</ul>
<!-- /.popular-category-category -->