<div class="catalog">

    <h2 class="h2">каталог</h2>

    <ul class="popular-category">
        <li class="popular-category__item">
            <a href="/" class="popular-category__link">
                <div class="popular-category__img">
                    <img src="../../assets/img/catalog/catalog-1.png" alt="">
                </div>
                <div class="popular-category__label">Двери межкомнатные</div>
            </a>
        </li>
        <li class="popular-category__item">
            <a href="/" class="popular-category__link">
                <div class="popular-category__img">
                    <img src="../../assets/img/catalog/catalog-2.png" alt="">
                </div>
                <div class="popular-category__label">Складные двери</div>
            </a>
        </li>
        <li class="popular-category__item">
            <a href="/" class="popular-category__link">
                <div class="popular-category__img">
                    <img src="../../assets/img/catalog/catalog-3.png" alt="">
                </div>
                <div class="popular-category__label">Скрытые двери</div>
            </a>
        </li>
        <li class="popular-category__item">
            <a href="/" class="popular-category__link">
                <div class="popular-category__img">
                    <img src="../../assets/img/catalog/catalog-4.png" alt="">
                </div>
                <div class="popular-category__label">Арки и порталы</div>
            </a>
        </li>
        <li class="popular-category__item">
            <a href="/" class="popular-category__link">
                <div class="popular-category__img">
                    <img src="../../assets/img/catalog/catalog-5.png" alt="">
                </div>
                <div class="popular-category__label">Двустворчатые двери</div>
            </a>
        </li>
        <li class="popular-category__item">
            <a href="/" class="popular-category__link">
                <div class="popular-category__img">
                    <img src="../../assets/img/catalog/catalog-6.png" alt="">
                </div>
                <div class="popular-category__label">Раздвижные двери</div>
            </a>
        </li>
        <li class="popular-category__item">
            <a href="/" class="popular-category__link">
                <div class="popular-category__img">
                    <img src="../../assets/img/catalog/catalog-7.png" alt="">
                </div>
                <div class="popular-category__label">Специальные двери</div>
            </a>
        </li>
        <li class="popular-category__item">
            <a href="/" class="popular-category__link">
                <div class="popular-category__img">
                    <img src="../../assets/img/catalog/catalog-8.png" alt="">
                </div>
                <div class="popular-category__label">Входные двери</div>
            </a>
        </li>
        <li class="popular-category__item">
            <a href="/" class="popular-category__link">
                <div class="popular-category__img">
                    <img src="../../assets/img/catalog/catalog-9.png" alt="">
                </div>
                <div class="popular-category__label">Двери комплектом</div>
            </a>
        </li>
        <li class="popular-category__item">
            <a href="/" class="popular-category__link">
                <div class="popular-category__img">
                    <img src="../../assets/img/catalog/catalog-10.png" alt="">
                </div>
                <div class="popular-category__label">Фурнитура для дверей</div>
            </a>
        </li>
        <li class="popular-category__item">
            <a href="/" class="popular-category__link">
                <div class="popular-category__img">
                    <img src="../../assets/img/catalog/catalog-11.png" alt="">
                </div>
                <div class="popular-category__label">Тут могут быть еще какие то двери</div>
            </a>
        </li>
        <li class="popular-category__item">
            <a href="/" class="popular-category__link">
                <div class="popular-category__img">
                    <img src="../../assets/img/catalog/catalog-12.png" alt="">
                </div>
                <div class="popular-category__label">и тут тоже</div>
            </a>
        </li>
    </ul>
    <!-- /.popular-category-category -->

</div>
<!-- /.catalog -->