<div class="header__nav">
    <div class="container">
        <div class="header__nav_box">
            <div class="header__nav_left">
                <a href="/" class="header__nav_btn">
                    <img src="../../../assets/img/icons/burger.png" alt="">
                    КАТАЛОГ
                </a>
            </div>
            <!-- /.header__nav_left -->
            <div class="header__nav_right">
                <ul class="header__nav_list">
                    <li class="header__nav_list_item">
                        <a href="/" class="header__nav_list_link">
                            <img src="../../../assets/img/icons/search.png" alt="">
                            Поиск
                        </a>
                    </li>
                    <li class="header__nav_list_item">
                        <a href="/" class="header__nav_list_link">КОНТАКТЫ</a>
                    </li>
                    <li class="header__nav_list_item">
                        <a href="/" class="header__nav_list_link">БРЕНДЫ</a>
                    </li>
                    <li class="header__nav_list_item">
                        <a href="/" class="header__nav_list_link">ЗАМЕР</a>
                    </li>
                    <li class="header__nav_list_item">
                        <a href="/" class="header__nav_list_link">ДОСТАВКА</a>
                    </li>
                    <li class="header__nav_list_item">
                        <a href="/" class="header__nav_list_link">ОПЛАТА</a>
                    </li>
                    <li class="header__nav_list_item">
                        <a href="/" class="header__nav_list_link">УСТАНОВКА</a>
                        <div class="header__nav_list_item_dropdown">
                            <a href="/" class="header__nav_list_item_dropdown_link">Межкомнатных дверей</a>
                            <a href="/" class="header__nav_list_item_dropdown_link">Входных дверей</a>
                            <a href="/" class="header__nav_list_item_dropdown_link">Двустворчатых дверей</a>
                            <a href="/" class="header__nav_list_item_dropdown_link">Дверей купе</a>
                        </div>
                        <!-- /.header__nav_list_item_dropdown -->
                    </li>
                    <li class="header__nav_list_item">
                        <a href="/" class="header__nav_list_link">О нас</a>
                    </li>
                </ul>
                <!-- /.header__nav_list -->
                <a href="/" class="header__nav_basket">
                    <div class="header__nav_basket_badge">99+</div>
                    <img src="../../../assets/img/icons/basket.png" alt="">
                </a>
                <!-- /.header__nav_basket -->
            </div>
            <!-- /.header__nav_right -->
        </div>
        <!-- /.header__nav_box -->
    </div>
    <!-- /.container -->
</div>
<!-- /.header__nav -->