<div class="cooperation">

    <h2 class="h2">наши производители</h2>

    <ul class="cooperation__slider default">
        <li class="cooperation__slider_item">
            <a href="/" class="cooperation__slider_item_link">
                    <span class="cooperation__slider_item_img">
                        <img src="../../assets/img/cooperation/cooperation-1.png" alt="Belwoodoors">
                    </span>
                <span class="cooperation__slider_item_title">Belwoodoors</span>
            </a>
        </li>
        <li class="cooperation__slider_item">
            <a href="/" class="cooperation__slider_item_link">
                    <span class="cooperation__slider_item_img">
                        <img src="../../assets/img/cooperation/cooperation-2.png" alt="Milyana">
                    </span>
                <span class="cooperation__slider_item_title">Milyana</span>
            </a>
        </li>
        <li class="cooperation__slider_item">
            <a href="/" class="cooperation__slider_item_link">
                    <span class="cooperation__slider_item_img">
                        <img src="../../assets/img/cooperation/cooperation-3.png" alt="ProfilDoors">
                    </span>
                <span class="cooperation__slider_item_title">ProfilDoors</span>
            </a>
        </li>
        <li class="cooperation__slider_item">
            <a href="/" class="cooperation__slider_item_link">
                    <span class="cooperation__slider_item_img">
                        <img src="../../assets/img/cooperation/cooperation-4.png" alt="Владимирские двери">
                    </span>
                <span class="cooperation__slider_item_title">Владимирские двери</span>
            </a>
        </li>
        <li class="cooperation__slider_item">
            <a href="/" class="cooperation__slider_item_link">
                    <span class="cooperation__slider_item_img">
                        <img src="../../assets/img/cooperation/cooperation-5.png" alt="el’Porta">
                    </span>
                <span class="cooperation__slider_item_title">el’Porta</span>
            </a>
        </li>
        <li class="cooperation__slider_item">
            <a href="/" class="cooperation__slider_item_link">
                    <span class="cooperation__slider_item_img">
                        <img src="../../assets/img/cooperation/cooperation-6.png" alt="Geona">
                    </span>
                <span class="cooperation__slider_item_title">Geona</span>
            </a>
        </li>
        <li class="cooperation__slider_item">
            <a href="/" class="cooperation__slider_item_link">
                    <span class="cooperation__slider_item_img">
                        <img src="../../assets/img/cooperation/cooperation-1.png" alt="Belwoodoors">
                    </span>
                <span class="cooperation__slider_item_title">Belwoodoors</span>
            </a>
        </li>
        <li class="cooperation__slider_item">
            <a href="/" class="cooperation__slider_item_link">
                    <span class="cooperation__slider_item_img">
                        <img src="../../assets/img/cooperation/cooperation-2.png" alt="Milyana">
                    </span>
                <span class="cooperation__slider_item_title">Milyana</span>
            </a>
        </li>
        <li class="cooperation__slider_item">
            <a href="/" class="cooperation__slider_item_link">
                    <span class="cooperation__slider_item_img">
                        <img src="../../assets/img/cooperation/cooperation-3.png" alt="ProfilDoors">
                    </span>
                <span class="cooperation__slider_item_title">ProfilDoors</span>
            </a>
        </li>
        <li class="cooperation__slider_item">
            <a href="/" class="cooperation__slider_item_link">
                    <span class="cooperation__slider_item_img">
                        <img src="../../assets/img/cooperation/cooperation-4.png" alt="Владимирские двери">
                    </span>
                <span class="cooperation__slider_item_title">Владимирские двери</span>
            </a>
        </li>
        <li class="cooperation__slider_item">
            <a href="/" class="cooperation__slider_item_link">
                    <span class="cooperation__slider_item_img">
                        <img src="../../assets/img/cooperation/cooperation-5.png" alt="el’Porta">
                    </span>
                <span class="cooperation__slider_item_title">el’Porta</span>
            </a>
        </li>
        <li class="cooperation__slider_item">
            <a href="/" class="cooperation__slider_item_link">
                    <span class="cooperation__slider_item_img">
                        <img src="../../assets/img/cooperation/cooperation-6.png" alt="Geona">
                    </span>
                <span class="cooperation__slider_item_title">Geona</span>
            </a>
        </li>
    </ul>
    <!-- /.cooperation__slider -->

</div>
<!-- /.cooperation -->