<div class="navigation">

    <div class="navigation__left">
        <a href="/" class="navigation__catalog">
            <div class="navigation__catalog_icon navigation__catalog_icon_burger active">
                <img src="../../assets/img/icons/burger.svg" alt="">
            </div>
            <div class="navigation__catalog_icon navigation__catalog_icon_arrow">
                <img src="../../assets/img/icons/down.svg" alt="">
            </div>
            <div class="navigation__catalog_icon navigation__catalog_icon_close">
                <img src="../../assets/img/icons/nav-close.svg" alt="">
            </div>
            КАТАЛОГ
        </a>
        //= catalog/catalog.html
    </div>
    <!-- /.navigation__left -->
    <div class="navigation__right">
        <div class="navigation__search">
            <label class="navigation__search_input">
                <input type="search" placeholder="Введите поисковый запрос">
            </label>
            <div class="navigation__search_close">
                <img src="../../../assets/img/icons/close-blue.svg" alt="">
            </div>
            <div class="navigation__search_result">
                <div class="navigation__search_result_scroll scroll">
                    <ul class="navigation__search_result_list">
                        <li class="navigation__search_result_item">
                            <div class="navigation__search_result_img">
                                <a href="/" class="navigation__search_result_img_link">
                                    <img src="../../../assets/img/card-2.png" alt="">
                                </a>
                            </div>
                            <div class="navigation__search_result_content">
                                <a href="/" class="navigation__search_result_name">
                                    <span>СМАЛЬТ</span>А 11 остеклённая,
                                    cлоновая кость патина золото серебро
                                </a>
                                <div class="navigation__search_result_info">
                                    <div class="navigation__search_result_article">Артикул: ТК3456</div>
                                    <div class="navigation__search_result_price">Цена: 12 607 ₽</div>
                                </div>
                            </div>
                        </li>
                        <li class="navigation__search_result_item">
                            <div class="navigation__search_result_img">
                                <a href="/" class="navigation__search_result_img_link">
                                    <img src="../../../assets/img/card-3.png" alt="">
                                </a>
                            </div>
                            <div class="navigation__search_result_content">
                                <a href="/" class="navigation__search_result_name">
                                    СМАЛЬТА 11 остеклённая,
                                    cлоновая кость патина золото серебро
                                </a>
                                <div class="navigation__search_result_info">
                                    <div class="navigation__search_result_article">Артикул: ТК3456</div>
                                    <div class="navigation__search_result_price">Цена: 12 607 ₽</div>
                                </div>
                            </div>
                        </li>
                        <li class="navigation__search_result_item">
                            <div class="navigation__search_result_img">
                                <a href="/" class="navigation__search_result_img_link">
                                    <img src="../../../assets/img/card-1.png" alt="">
                                </a>
                            </div>
                            <div class="navigation__search_result_content">
                                <a href="/" class="navigation__search_result_name">
                                    СМАЛЬТА 11 остеклённая,
                                    cлоновая кость патина золото серебро
                                </a>
                                <div class="navigation__search_result_info">
                                    <div class="navigation__search_result_article">Артикул: ТК3456</div>
                                    <div class="navigation__search_result_price">Цена: 12 607 ₽</div>
                                </div>
                            </div>
                        </li>
                        <li class="navigation__search_result_item">
                            <div class="navigation__search_result_img">
                                <a href="/" class="navigation__search_result_img_link">
                                    <img src="../../../assets/img/card-2.png" alt="">
                                </a>
                            </div>
                            <div class="navigation__search_result_content">
                                <a href="/" class="navigation__search_result_name">
                                    СМАЛЬТА 11 остеклённая,
                                    cлоновая кость патина золото серебро
                                </a>
                                <div class="navigation__search_result_info">
                                    <div class="navigation__search_result_article">Артикул: ТК3456</div>
                                    <div class="navigation__search_result_price">Цена: 12 607 ₽</div>
                                </div>
                            </div>
                        </li>
                        <li class="navigation__search_result_item">
                            <div class="navigation__search_result_img">
                                <a href="/" class="navigation__search_result_img_link">
                                    <img src="../../../assets/img/card-3.png" alt="">
                                </a>
                            </div>
                            <div class="navigation__search_result_content">
                                <a href="/" class="navigation__search_result_name">
                                    СМАЛЬТА 11 остеклённая,
                                    cлоновая кость патина золото серебро
                                </a>
                                <div class="navigation__search_result_info">
                                    <div class="navigation__search_result_article">Артикул: ТК3456</div>
                                    <div class="navigation__search_result_price">Цена: 12 607 ₽</div>
                                </div>
                            </div>
                        </li>
                        <li class="navigation__search_result_item">
                            <div class="navigation__search_result_img">
                                <a href="/" class="navigation__search_result_img_link">
                                    <img src="../../../assets/img/card-1.png" alt="">
                                </a>
                            </div>
                            <div class="navigation__search_result_content">
                                <a href="/" class="navigation__search_result_name">
                                    СМАЛЬТА 11 остеклённая,
                                    cлоновая кость патина золото серебро
                                </a>
                                <div class="navigation__search_result_info">
                                    <div class="navigation__search_result_article">Артикул: ТК3456</div>
                                    <div class="navigation__search_result_price">Цена: 12 607 ₽</div>
                                </div>
                            </div>
                        </li>
                        <li class="navigation__search_result_item">
                            <div class="navigation__search_result_img">
                                <a href="/" class="navigation__search_result_img_link">
                                    <img src="../../../assets/img/card-2.png" alt="">
                                </a>
                            </div>
                            <div class="navigation__search_result_content">
                                <a href="/" class="navigation__search_result_name">
                                    СМАЛЬТА 11 остеклённая,
                                    cлоновая кость патина золото серебро
                                </a>
                                <div class="navigation__search_result_info">
                                    <div class="navigation__search_result_article">Артикул: ТК3456</div>
                                    <div class="navigation__search_result_price">Цена: 12 607 ₽</div>
                                </div>
                            </div>
                        </li>
                        <li class="navigation__search_result_item">
                            <div class="navigation__search_result_img">
                                <a href="/" class="navigation__search_result_img_link">
                                    <img src="../../../assets/img/card-3.png" alt="">
                                </a>
                            </div>
                            <div class="navigation__search_result_content">
                                <a href="/" class="navigation__search_result_name">
                                    СМАЛЬТА 11 остеклённая,
                                    cлоновая кость патина золото серебро
                                </a>
                                <div class="navigation__search_result_info">
                                    <div class="navigation__search_result_article">Артикул: ТК3456</div>
                                    <div class="navigation__search_result_price">Цена: 12 607 ₽</div>
                                </div>
                            </div>
                        </li>
                        <li class="navigation__search_result_item">
                            <div class="navigation__search_result_img">
                                <a href="/" class="navigation__search_result_img_link">
                                    <img src="../../../assets/img/card-1.png" alt="">
                                </a>
                            </div>
                            <div class="navigation__search_result_content">
                                <a href="/" class="navigation__search_result_name">
                                    СМАЛЬТА 11 остеклённая,
                                    cлоновая кость патина золото серебро
                                </a>
                                <div class="navigation__search_result_info">
                                    <div class="navigation__search_result_article">Артикул: ТК3456</div>
                                    <div class="navigation__search_result_price">Цена: 12 607 ₽</div>
                                </div>
                            </div>
                        </li>
                        <li class="navigation__search_result_item">
                            <div class="navigation__search_result_img">
                                <a href="/" class="navigation__search_result_img_link">
                                    <img src="../../../assets/img/card-2.png" alt="">
                                </a>
                            </div>
                            <div class="navigation__search_result_content">
                                <a href="/" class="navigation__search_result_name">
                                    СМАЛЬТА 11 остеклённая,
                                    cлоновая кость патина золото серебро
                                </a>
                                <div class="navigation__search_result_info">
                                    <div class="navigation__search_result_article">Артикул: ТК3456</div>
                                    <div class="navigation__search_result_price">Цена: 12 607 ₽</div>
                                </div>
                            </div>
                        </li>
                        <li class="navigation__search_result_item">
                            <div class="navigation__search_result_img">
                                <a href="/" class="navigation__search_result_img_link">
                                    <img src="../../../assets/img/card-3.png" alt="">
                                </a>
                            </div>
                            <div class="navigation__search_result_content">
                                <a href="/" class="navigation__search_result_name">
                                    СМАЛЬТА 11 остеклённая,
                                    cлоновая кость патина золото серебро
                                </a>
                                <div class="navigation__search_result_info">
                                    <div class="navigation__search_result_article">Артикул: ТК3456</div>
                                    <div class="navigation__search_result_price">Цена: 12 607 ₽</div>
                                </div>
                            </div>
                        </li>
                        <li class="navigation__search_result_item">
                            <div class="navigation__search_result_img">
                                <a href="/" class="navigation__search_result_img_link">
                                    <img src="../../../assets/img/card-1.png" alt="">
                                </a>
                            </div>
                            <div class="navigation__search_result_content">
                                <a href="/" class="navigation__search_result_name">
                                    СМАЛЬТА 11 остеклённая,
                                    cлоновая кость патина золото серебро
                                </a>
                                <div class="navigation__search_result_info">
                                    <div class="navigation__search_result_article">Артикул: ТК3456</div>
                                    <div class="navigation__search_result_price">Цена: 12 607 ₽</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.navigation__search_result -->
        </div>
        <!-- /.navigation__search -->
        <ul class="navigation__list">
            <li class="navigation__list_item">
                <a href="/" class="navigation__list_link navigation__search_link">
                    <img src="../../../assets/img/icons/search.svg" alt="">
                    Поиск
                </a>
            </li>
            <li class="navigation__list_item">
                <a href="/" class="navigation__list_link">КОНТАКТЫ</a>
            </li>
            <li class="navigation__list_item">
                <a href="/" class="navigation__list_link">БРЕНДЫ</a>
            </li>
            <li class="navigation__list_item">
                <a href="/" class="navigation__list_link">ЗАМЕР</a>
            </li>
            <li class="navigation__list_item">
                <a href="/" class="navigation__list_link">ДОСТАВКА</a>
            </li>
            <li class="navigation__list_item">
                <a href="/" class="navigation__list_link">ОПЛАТА</a>
            </li>
            <li class="navigation__list_item">
                <a href="/" class="navigation__list_link">УСТАНОВКА</a>
                <div class="navigation__list_item_dropdown">
                    <a href="/" class="navigation__list_item_dropdown_link">Межкомнатных дверей</a>
                    <a href="/" class="navigation__list_item_dropdown_link">Входных дверей</a>
                    <a href="/" class="navigation__list_item_dropdown_link">Двустворчатых дверей</a>
                    <a href="/" class="navigation__list_item_dropdown_link">Дверей купе</a>
                </div>
                <!-- /.navigation__list_item_dropdown -->
            </li>
            <li class="navigation__list_item">
                <a href="/" class="navigation__list_link">О нас</a>
            </li>
        </ul>
        <!-- /.navigation__list -->
        <div class="navigation__basket popup-link">
            <a href="/" class="navigation__basket_link">
                <div class="navigation__basket_badge">99+</div>
                <img src="../../../assets/img/icons/basket.png" alt="">
            </a>
            <!-- /.navigation__basket_link -->
            <div class="popup bot">Ваша корзина пока пуста</div>
            <div class="basket__popup_container">
                <div class="basket__popup">
                    <div class="basket__popup_scroll scroll">
                        <div class="basket__popup_title">Ваша корзина:</div>
                        <ul class="basket__popup_list">
                            <li class="basket__popup_item">
                                <div class="basket__popup_item_img">
                                    <a href="/" class="basket__popup_item_img_link">
                                        <img src="../../../assets/img/card-3.png" alt="">
                                    </a>
                                </div>
                                <div class="basket__popup_item_content">
                                    <a href="/" class="basket__popup_item_name">
                                        СМАЛЬТА 11 оестеклённая,
                                        cлоновая кость патина золото
                                    </a>
                                    <ul class="basket__popup_item_desc">
                                        <li>Артикул: TK2503</li>
                                        <li>Размер: 550 х 1900</li>
                                        <li>Комплект: коробка + наличники</li>
                                    </ul>
                                </div>
                                <div class="basket__popup_item_close">
                                    <a href="/" class="basket__popup_item_close_link close"></a>
                                </div>
                                <div class="basket__popup_item_count">
                                    <div class="number-picker"></div>
                                </div>
                                <div class="basket__popup_item_price">333 х 11 607 ₽</div>
                            </li>
                            <li class="basket__popup_item">
                                <div class="basket__popup_item_img">
                                    <a href="/" class="basket__popup_item_img_link">
                                        <img src="../../../assets/img/card-2.png" alt="">
                                    </a>
                                </div>
                                <div class="basket__popup_item_content">
                                    <a href="/" class="basket__popup_item_name">
                                        СМАЛЬТА 11 оестеклённая,
                                        cлоновая кость патина золото
                                    </a>
                                    <ul class="basket__popup_item_desc">
                                        <li>Артикул: TK2503</li>
                                        <li>Размер: 550 х 1900</li>
                                        <li>Комплект: коробка + наличники телескопические, прочая прочая фигня для дверей которая тут должна поместится, корбка + наличники и прочая прочая фигня для дверей которая тут должна поместится</li>
                                    </ul>
                                </div>
                                <div class="basket__popup_item_close">
                                    <a href="/" class="basket__popup_item_close_link close"></a>
                                </div>
                                <div class="basket__popup_item_count">
                                    <div class="number-picker"></div>
                                </div>
                                <div class="basket__popup_item_price">333 х 11 607 ₽</div>
                            </li>
                            <li class="basket__popup_item">
                                <div class="basket__popup_item_img">
                                    <a href="/" class="basket__popup_item_img_link">
                                        <img src="../../../assets/img/card-1.png" alt="">
                                    </a>
                                </div>
                                <div class="basket__popup_item_content">
                                    <a href="/" class="basket__popup_item_name">
                                        СМАЛЬТА 11 оестеклённая,
                                        cлоновая кость патина золото
                                    </a>
                                    <ul class="basket__popup_item_desc">
                                        <li>Артикул: TK2503</li>
                                        <li>Размер: 550 х 1900</li>
                                        <li>Комплект: коробка + наличники</li>
                                    </ul>
                                </div>
                                <div class="basket__popup_item_close">
                                    <a href="/" class="basket__popup_item_close_link close"></a>
                                </div>
                                <div class="basket__popup_item_count">
                                    <div class="number-picker"></div>
                                </div>
                                <div class="basket__popup_item_price">333 х 11 607 ₽</div>
                            </li>
                        </ul>
                    </div>
                    <div class="basket__popup_bot">
                        <div class="basket__popup_sum">Всего 999 ед. товара на сумму 456 789 ₽</div>
                        <div class="basket__popup_btn">
                            <a href="/" class="btn">Перейти в корзину</a>
                            <button class="btn">Оформить заказ</button>
                        </div>
                    </div>
                </div>
                <!-- /.basket__popup -->
            </div>
            <!-- /.basket__popup_container -->
        </div>
        <!-- /.navigation__basket -->
    </div>
    <!-- /.navigation__right -->

</div>
<!-- /.navigation -->