.header__bot {
  padding: 10px 0;
}

.header__bot_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__bot_logo {}

.header__bot_phone {}

.header__bot_phone_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 1;
}

.header__bot_phone_item_icon {
  width: 25px;
}

.header__bot_phone_item_link {
  font-size: 20px;
  color: #004e8d;
  line-height: 1.3;
}

.header__bot_btn {
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 211px;
    height: 40px;
    box-sizing: border-box;
    box-shadow: 0 0 9px 1px rgba(179, 178, 179, 0.75);
    border-radius: 8px;
    border: 2px solid $white;
    background-color: #289c39;
    background-image: linear-gradient(to top, #fd4b04 0%, #fd692a 100%);
    font-weight: 500;
    font-size: 16px;
    color: $white;
    &:hover {
      background-image: linear-gradient(to top, #ff6600 0%, #fd692a 100%);
    }
  }
}

.header__bot_info {}

.header__bot_info_work {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 229px;
  height: 29px;
  border-radius: 5px;
  border: 1px dashed #b4b4b4;
  background-color: $white;
  font-weight: 500;
}

.header__bot_info_call {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  color: $black;
  img {
    margin-right: 3px;
  }
}

.header__bot_basket_container {
  position: relative;
  &:hover {
    .header__bot_basket {
      background-color: $blue;
    }
    .basket__popup {
      visibility: visible;
      opacity: 1;
      z-index: 3;
    }
  }
}

.header__bot_basket {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 54px;
  padding: 8px 8px 8px 15px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: $main;
  &:hover {
    background-color: $blue;
  }
}

.header__bot_basket_icon {
  min-width: 45px;
}

.header__bot_basket_badge {
  position: absolute;
  top: 3px;
  left: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #e7e7e7;
  background-color: $blue;
  font-size: 12px;
  color: $white;
}

.header__bot_basket_info {}

.header__bot_basket_info_label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $white;
  white-space: nowrap;
}

.header__bot_basket_info_price {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  color: $white;
  white-space: nowrap;
}

.header__bot_basket_info_price_currency {
  font-size: 24px;
  color: $white;
}

.basket__popup {
  position: absolute;
  right: -1px;
  top: calc(100% + 20px);
  width: 425px;
  box-sizing: border-box;
  box-shadow: 0 5px 5px rgba(224, 224, 224, 0.75);
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  background-color: $white;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: .5s;
  &:before {
    content: '';
    position: absolute;
    top: -8px;
    right: 25px;
    transform: rotate(-45deg);
    width: 11px;
    height: 11px;
    border: 1px solid #e7e7e7;
    border-left-color: transparent;
    border-bottom-color: transparent;
    background-color: $white;
  }
}

.basket__popup_scroll {
  max-height: 600px;
  padding: 20px 20px 140px;
  box-sizing: border-box;
  overflow: auto;
}

.basket__popup_title {
  font-weight: 600;
  font-size: 16px;
}

.basket__popup_list {
  margin-top: 20px;
}

.basket__popup_item {
  display: grid;
  grid-template-columns: 100px 1fr 16px;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}

.basket__popup_item_img {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.basket__popup_item_img_link {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 100px;
    max-height: 100px;
  }
}

.basket__popup_item_content {
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 30px;
}

.basket__popup_item_name {
  font-weight: 500;
  font-size: 15px;
  color: $black;
  &:hover {
    color: $main;
  }
}

.basket__popup_item_desc {
  margin-top: 5px;
  font-weight: 500;
  font-size: 12px;
}

.basket__popup_item_close {}

.basket__popup_item_close_link {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  &:before, &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 1px;
    background-color: $black;
  }
  &:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.basket__popup_item_count {
  input {
    width: 100%;
    box-sizing: border-box;
  }
}

.basket__popup_item_price {
  padding-left: 15px;
  padding-right: 30px;
  font-weight: 700;
}

.basket__popup_bot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 20px);
  padding: 15px 20px 25px;
  box-sizing: border-box;
  background-color: $white;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    height: 1px;
    background-color: rgba(#dbdbdb, .3);
  }
}

.basket__popup_sum {
  font-weight: 700;
  color: $black;
}

.basket__popup_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 176px;
    height: 35px;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0 0 9px 1px rgba(179, 178, 179, 0.75);
    border-radius: 8px;
    border: 2px solid $white;
    background-color: $main;
    font-weight: 500;
    font-size: 16px;
    color: $white;
    transition: .3s;
    &:hover {
      background-color: $blue;
    }
  }
}