<div class="header__bot">
    <div class="container">
        <div class="header__bot_box">
            <div class="header__bot_logo">
                <img src="../../../assets/img/icons/logo.png" alt="">
            </div>
            <!-- /.header__bot_logo -->
            <div class="header__bot_phone">
                <div class="header__bot_phone_item">
                    <div class="header__bot_phone_item_icon">
                        <img src="../../../assets/img/icons/phone.png" alt="">
                    </div>
                    <a href="tel:+74993915911" class="header__bot_phone_item_link">+7 (499) 391-59-11</a>
                </div>
                <div class="header__bot_phone_item">
                    <div class="header__bot_phone_item_icon">
                        <img src="../../../assets/img/icons/whatsapp.png" alt="">
                    </div>
                    <a href="tel:+79265584115" class="header__bot_phone_item_link">+7 (926) 558-41-15</a>
                </div>
            </div>
            <!-- /.header__bot_phone -->
            <div class="header__bot_btn">
                <a href="/" class="btn">Вызов замерщика</a>
            </div>
            <!-- /.header__bot_btn -->
            <div class="header__bot_info">
                <div class="header__bot_info_work">Интернет-магазин: 9:00-20:00</div>
                <div class="header__bot_info_call">
                    <img src="../../../assets/img/icons/support.png" alt="">
                    Заказать обратный звонок
                </div>
            </div>
            <!-- /.header__bot_info -->
            <a href="/" class="header__bot_basket">
                <span class="header__bot_basket_icon">
                    <span class="header__bot_basket_badge">99+</span>
                    <img src="../../../assets/img/icons/basket.png" alt="">
                </span>
                <span class="header__bot_basket_info">
                    <span class="header__bot_basket_info_label">Корзина</span>
                    <span class="header__bot_basket_info_price">
                        1 999 999
                        <span class="header__bot_basket_info_price_currency">₽</span>
                    </span>
                </span>
            </a>
            <!-- /.header__bot_basket -->
        </div>
        <!-- /.header__bot_box -->
    </div>
    <!-- /.container -->
</div>
<!-- /.header__bot -->