<div class="header__top">
    <div class="container">
        <div class="header__top_box">
            <ul class="header__top_left">
                <li class="header__top_item">
                    <div class="header__top_item_icon">
                        <img src="../../../assets/img/icons/pin-blue.png" alt="">
                    </div>
                    <div class="header__top_item_label">Ваш город:</div>
                    <a href="/" class="header__top_item_city">Москва</a>
                </li>
            </ul>
            <!-- /.header__top_left -->
            <ul class="header__top_right">
                <li class="header__top_item">
                    <div class="header__top_item_icon">
                        <img src="../../../assets/img/icons/message.png" alt="">
                    </div>
                    <a href="mailto:dveriunas@mail.ru" class="header__top_item_label">dveriunas@mail.ru</a>
                </li>
                <li class="header__top_item popup-link">
                    <div class="header__top_item_icon">
                        <img src="../../../assets/img/icons/compare.png" alt="">
                    </div>
                    <a href="/" class="header__top_item_label">Сравнить</a>
                    <div class="header__top_item_badge">4</div>
                    <div class="popup bot">Товары для сравнения не выбраны</div>
                </li>
                <li class="header__top_item popup-link">
                    <div class="header__top_item_icon">
                        <img src="../../../assets/img/icons/heart.png" alt="">
                    </div>
                    <a href="/" class="header__top_item_label">Избранное</a>
                    <div class="header__top_item_badge">17</div>
                    <div class="popup bot">В избранном пока пусто</div>
                </li>
                <li class="header__top_item">
                    <div class="header__top_item_icon">
                        <img src="../../../assets/img/icons/user.png" alt="">
                    </div>
                    <a href="/" class="header__top_item_label">Личный кабинет</a>
                </li>
            </ul>
            <!-- /.header__top_right -->
        </div>
        <!-- /.header__top_box -->
    </div>
    <!-- /.container -->
</div>
<!-- /.header__top -->