<div class="delivery">

    <h2 class="h2">доставка</h2>

    <div class="delivery__grid">
        <p class="delivery__item">
            <span class="delivery__img">
                <img src="../../assets/img/delivery/delivery-1.png" alt="">
            </span>
            <span class="delivery__content">
                <span class="delivery__label">Время и стоимость доставки:</span>
                <br><br>
                <span class="delivery__content_text">
                    Мы производим доставку дверей в дневное время с <b>14:00 до 18:00</b>
                    и в вечерние часы с <b>18:00 до 22:00.</b> Поэтому независимо от графика работы и других планов, у вас не возникнет проблем с тем, чтобы получить купленные двери в наиболее удобное время. Цена доставки также приятно удивляет:
                </span>
                <br><br>
                <span class="delivery__list">
                    <span class="delivery__content_text">
                        • если вы закажете доставку в пределах МКАД, то заплатить придется 1200 рублей;
                    </span>
                    <br><br>
                    <span class="delivery__content_text">
                        • если за пределы МКАД, то 1200 рублей и дополнительно
                        35 рублей за каждый километр от МКАД.
                    </span>
                </span>
                <br>
                <span class="delivery__content_text">
                    Эта стоимость включает только доставку до подъезда, а подъем на этаж рассчитывается отдельно.
                </span>
                <br><br>
                <span class="delivery__content_text">
                    В <b>воскресенье</b> доставка <b>не осуществляется!</b>
                </span>
            </span>
        </p>
        <p class="delivery__item">
            <span class="delivery__img">
                <img src="../../assets/img/delivery/delivery-2.png" alt="">
            </span>
            <span class="delivery__content">
                <span class="delivery__label">Подъём межкомнатных и входных дверей:</span>
                <br><br>
                <span class="delivery__content_text">
                    У нас действуют следующие цены:
                </span>
                <br><br>
                <span class="delivery__list">
                    <span class="delivery__content_text">
                        • подъем одной <b>межкомнатной</b> двери с помощью лифта обойдется в <b>150</b> рублей независимо от этажа, а если лифт сломан или отсутствует, то цена подъёма по лестнице каждой двери <b>150</b> рублей за этаж.
                    </span>
                    <br><br>
                    <span class="delivery__content_text">
                        • подъем одной <b>входной</b> двери с помощью лифта обойдется в <b>700</b> рублей независимо от этажа, если лифт сломан или отсутствует, то цена подъёма по лестнице каждой двери <b>700</b> рублей за этаж.
                    </span>
                </span>
                <br>
                <span class="delivery__content_text">
                    Мы позаботились о том, чтобы вы не только могли приобрести качественные красивые двери, но и получили их как можно быстрее. Кроме того, оформить доставку можно на любое удобное для вас время и даже на выходные дни. Наши сотрудники обеспечивают бережную аккуратную доставку дверей заказчику ровно
                    в назначенное время, что позволяет, без лишних рисков, быстро получить свою покупку.
                </span>
                <br><br>
                <span class="delivery__content_text">
                    Сделав заказ у нас, вы можете не волноваться о доставке и больших расходах, которые она за собой повлечет. Мы быстро и недорого доставим купленные двери, чтобы вы могли как можно быстрее начать получать удовольствие от их использования.
                </span>
            </span>
        </p>
        <p class="delivery__item">
            <span class="delivery__img">
                <img src="../../assets/img/delivery/delivery-3.png" alt="">
            </span>
            <span class="delivery__content">
                <span class="delivery__label">Самовывоз:</span>
                <br><br>
                <span class="delivery__content_text">
                    Самовывоз осуществляется с нашего магазина расположенного по адресу г. Реутов ул. Академика В. Н Челомея д. 12 ТЦ Алладин этаж 2.
                </span>
                <br><br>
                <span class="delivery__list">
                    <span class="delivery__content_text">
                        • самовывоз происходит только после полной оплаты заказа;
                    </span>
                    <br><br>
                    <span class="delivery__content_text">
                        • самовывоз осуществляется в течении 3 дней с момента оплаты заказа;
                    </span>
                    <br><br>
                    <span class="delivery__content_text">
                        • стоимость самовывоза в размере <b>500</b> рублей;
                    </span>
                    <br><br>
                    <span class="delivery__content_text">
                        • забрать заказ можно <b>с 10:00 до 19:00</b> с понедельника по субботу;
                    </span>
                    <br><br>
                    <span class="delivery__content_text">
                        • по всем вопросам звоните <b>+7 (499) 391-59-11 +7 (926) 558-41-15.</b>
                    </span>
                </span>
            </span>
        </p>
    </div>
    <!-- /.delivery__grid -->

    <div class="map">
        <iframe src="https://yandex.ua/map-widget/v1/?um=constructor%3A4ed213eb6b15fa12205202065b2dcd527dce1219a5a12a44b27cd5a68d3f90be&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
    </div>

</div>
<!-- /.delivery -->