<div class="reviews">

    <h2 class="h2">отзывы покупателей</h2>

    <ul class="reviews__slider default">
        <li class="reviews__slider_item">
            <div class="reviews__slider_top">
                <div class="reviews__slider_icon">
                    <img src="../../assets/img/icons/avatar.png" alt="">
                </div>
                <div class="reviews__slider_name">Анастэйша ВИП</div>
                <div class="reviews__slider_star">
                    <img src="../../assets/img/icons/stars.png" alt="">
                </div>
            </div>
            <div class="reviews__slider_content">
                Мы с мужем купили дверь. Эта наша первая дверь. Раньше мы жили без дверей, но с дверью на много лучше. Тем более с этой. Хоть я и блондинка, но как ее закрывать и открывать разобралась быстро. И она отлично вписывается в интерьер. Теперь дома можно в любой момент выключить сквозняк. Всем рекомендую. Буду рекомендовать и дальше , а может и не буду а может и буду  ... Но максимум 400 символов
            </div>
        </li>
        <li class="reviews__slider_item">
            <div class="reviews__slider_top">
                <div class="reviews__slider_icon">
                    <img src="../../assets/img/icons/avatar.png" alt="">
                </div>
                <div class="reviews__slider_name">Анастэйша ВИП</div>
                <div class="reviews__slider_star">
                    <img src="../../assets/img/icons/stars.png" alt="">
                </div>
            </div>
            <div class="reviews__slider_content">
                Мы с мужем купили дверь. Эта наша первая дверь. Раньше мы жили без дверей, но с дверью на много лучше. Тем более с этой. Хоть я и блондинка, но как ее закрывать и открывать разобралась быстро. И она отлично вписывается в интерьер. Теперь дома можно в любой момент выключить сквозняк. Всем рекомендую. Буду рекомендовать и дальше , а может и не буду а может и буду  ... Но максимум 400 символов
            </div>
        </li>
        <li class="reviews__slider_item">
            <div class="reviews__slider_top">
                <div class="reviews__slider_icon">
                    <img src="../../assets/img/icons/avatar.png" alt="">
                </div>
                <div class="reviews__slider_name">Анастэйша ВИП</div>
                <div class="reviews__slider_star">
                    <img src="../../assets/img/icons/stars.png" alt="">
                </div>
            </div>
            <div class="reviews__slider_content">
                Мы с мужем купили дверь. Эта наша первая дверь. Раньше мы жили без дверей, но с дверью на много лучше.
            </div>
        </li>
        <li class="reviews__slider_item">
            <div class="reviews__slider_top">
                <div class="reviews__slider_icon">
                    <img src="../../assets/img/icons/avatar.png" alt="">
                </div>
                <div class="reviews__slider_name">Анастэйша ВИП</div>
                <div class="reviews__slider_star">
                    <img src="../../assets/img/icons/stars.png" alt="">
                </div>
            </div>
            <div class="reviews__slider_content">
                Мы с мужем купили дверь. Эта наша первая дверь. Раньше мы жили без дверей, но с дверью на много лучше. Тем более с этой. Хоть я и блондинка, но как ее закрывать и открывать разобралась быстро. И она отлично вписывается в интерьер. Теперь дома можно в любой момент выключить сквозняк. Всем рекомендую. Буду рекомендовать и дальше , а может и не буду а может и буду  ... Но максимум 400 символов
            </div>
        </li>
    </ul>
    <!-- /.reviews__slider -->
    
    <div class="reviews__btn">
        <a href="#modal-reviews" class="btn js-modal-link">Оставить отзыв</a>
    </div>

</div>
<!-- /.reviews -->