<div class="modal" id="modal-call">
    <div class="modal__content">
        <div class="modal__close close"></div>
        <h2 class="h2 modal__title">заказать звонок</h2>
        <div class="form-group">
            <div class="form-desc">
                Напишите нам свои имя и номер телефона, чтоб мы связались с Вами в рабочее время.
            </div>
        </div>
        <form class="form">
            <div class="form-group">
                <label class="label">
                    <input class="input" type="text" placeholder="Имя">
                </label>
            </div>
            <div class="form-group">
                <label class="label">
                    <input class="input" type="tel" placeholder="Телефон">
                </label>
            </div>
            <div class="form-apply">
                <div class="apply-check">
                    <label class="check">
                        <input type="checkbox" class="check__input">
                        <span class="check__box"></span>
                    </label>
                </div>
                <div class="form-desc">
                    Нажимая кнопку «Отправить заявку», я даю  согласие на обработку моих <a href="/">персональных данных.</a>
                </div>
            </div>
            <div class="form-btn">
                <button class="btn">Отправить заявку</button>
            </div>
        </form>
    </div>
    <!-- /.modal__content -->
</div>
<!-- /.modal -->