<div class="modal" id="modal-measurer">
    <div class="modal__content">
        <div class="modal__close close"></div>
        <h2 class="h2 modal__title">Вызов замерщика</h2>
        <div class="form-group">
            <div class="form-desc">
                Стоимость вызова замерщика 500 рублей в пределах МКАД и дополнительно 35 рублей за каждый километр за МКАДом.
            </div>
        </div>
        <form class="form">
            <div class="form-group">
                <label class="label">
                    <input class="input" type="text" placeholder="Имя">
                </label>
            </div>
            <div class="form-group">
                <label class="label">
                    <input class="input" type="tel" placeholder="Телефон">
                </label>
            </div>
            <div class="form-group">
                <label class="label">
                    <textarea class="textarea" placeholder="Адрес"></textarea>
                </label>
            </div>
            <div class="form-apply">
                <div class="apply-check">
                    <label class="check">
                        <input type="checkbox" class="check__input">
                        <span class="check__box"></span>
                    </label>
                </div>
                <div class="form-desc">
                    Нажимая кнопку «Вызов замерщика», я даю  согласие на обработку моих <a href="/">персональных данных.</a>
                </div>
            </div>
            <div class="form-btn">
                <button class="btn">Вызов замерщика</button>
            </div>
        </form>
    </div>
    <!-- /.modal__content -->
</div>
<!-- /.modal -->