<div class="modal modal__reviews" id="modal-reviews">
    <div class="modal__content">
        <div class="modal__reviews_top">
            <div class="modal__reviews_label">Ваша оценка:</div>
            <div class="modal__reviews_star">
                <img src="../../assets/img/icons/stars.png" alt="">
            </div>
            <div class="modal__close close"></div>
        </div>
        <form class="form">
            <label class="label">
                <textarea class="textarea"></textarea>
            </label>
            <div class="modal__reviews_bot">
                <div class="modal__reviews_desc">Размер максимум 400 символов </div>
                <div class="modal__reviews_btn">
                    <button class="btn">Оставить отзыв</button>
                </div>
            </div>
        </form>
    </div>
    <!-- /.modal__content -->
</div>
<!-- /.modal -->