<div class="intro">
    <div class="intro__item">
        <div class="intro__slider">
            <div class="intro__slider_item">
                <img src="../../assets/img/intro-1.png" alt="">
            </div>
            <div class="intro__slider_item">
                <img src="../../assets/img/intro-1.png" alt="">
            </div>
            <div class="intro__slider_item">
                <img src="../../assets/img/intro-1.png" alt="">
            </div>
            <div class="intro__slider_item">
                <img src="../../assets/img/intro-1.png" alt="">
            </div>
            <div class="intro__slider_item">
                <img src="../../assets/img/intro-1.png" alt="">
            </div>
        </div>
        <!-- /.intro__slider -->
    </div>
    <a href="/" class="intro__item intro__item_card">
        <div class="intro__item_label">Межкомнатные двери</div>
        <img src="../../assets/img/intro-2.png" alt="">
    </a>
    <a href="/" class="intro__item intro__item_card">
        <div class="intro__item_label">Входные двери</div>
        <img src="../../assets/img/intro-3.png" alt="">
    </a>
    <a href="/" class="intro__item intro__item_card">
        <div class="intro__item_label">Фурнитура для дверей</div>
        <img src="../../assets/img/intro-4.png" alt="">
    </a>
</div>
<!-- /.intro -->