.viewed-products {
  padding-bottom: 30px;
}

.viewed-products__slider {
  margin: -15px -10px;
  .slick-arrow {
    top: 40%;
  }
  .quick-view {
    top: 170px;
  }
}

.viewed-products__slider_item {
  padding: 15px 10px;
  box-sizing: border-box;
}



@media (max-width: 1200px) {
  .viewed-products__slider {
    margin: -15px 0;
  }
  .viewed-products__slider_item {
    padding: 15px 0;
  }
}