.viewed-products {
  padding-bottom: 30px;
}

.viewed-products__slider {
  margin: -15px -10px;
  .slick-arrow {
    top: 40%;
  }
}

.viewed-products__slider_item {
  padding: 15px 10px;
  box-sizing: border-box;
}